<div class='request'>
<div class="requestheader">
	<span><%= lengthoftimeago(request.created_at)%></span>
	<span><%= request.user.name %></span>
	<span><% id = "_#{request.id}_star "%>
		<% if request.answer then %>
		<%= icon('fas', 'star', html_options: {id:id, class:"fa-2x answer_on"})%>
		<% else %>
		<a href="#" onclick="add_answer(<%=request.id%>)">
		<%= icon('far', 'star', id:id, class:"fa-2x answer_off")%>
		</a>
		<% end %>
	</span>
</div>
<div class="description">
<p><%= request.description %></p>
</div>
<div class="resources">
   <li><%= icon('fas', "book-open", class:"fa-2x")%></li>
   <li><%= icon('fas', "sticky-note", class:"fa-2x")%></li>
   <li><%= icon('fas',  "calendar-alt", class:"fa-2x")%></li>
</div>


</div>