<div class='request'>
<div class="requestheader">
	<span><%= lengthoftimeago(request.created_at)%></span>
	<span><%= request.user.name %></span>
	<span><% if request.hasananswerfromuser(@current_user) then %>
		<%= icon('fas', 'star', class:"fa-2x")%>
		<% else %>
		<%= icon('far', 'star', class:"fa-2x")%>
		<% end %>
	</span>
</div>
<div class="description">
<p><%= request.description %></p>
</div>
<div class="resources">
   <li><%= icon('fas', "book-open", class:"fa-2x")%></li>
   <li><%= icon('fas', "sticky-note", class:"fa-2x")%></li>
   <li><%= icon('fas',  "calendar-alt", class:"fa-2x")%></li>
</div>


</div>