<!DOCTYPE html>
<html>
  <head>
    <title>VOMPrayerWall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="content">

	   <h1>VOMPrayerWall</h1>
	   <% unless flash[:notice].blank? %>
	   <div id="notification"><%= flash[:notice]%></div>
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	   <% end %>
	   
	   <%= yield %>
   </div>
   <ul id="navigation">
	   <li><%= link_to 'Home page',requests_path%></li>
	   <li><%= link_to 'Submit new prayer request', new_request_path%></li>
	   <li><%= link_to 'View calendar', calendars_show_path%></li>
	  
   </ul>
  </body>
</html>
